<label for="uploader">Add media:&nbsp;</label>
<input id="uploader" type="file" name="media" data-url="uploadMedia/">
<br><br>
<label id="percent"></label>
<div id="progress" style="width:320px;">
    <div class="bar" style="width: 0%;"></div>
</div>
<br><br>
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>
<div ng-repeat="media in mediaList">
    <div ng-switch on="media.type">
        <div ng-switch-when="Video">
            <div class="wistia_embed" ng-class="media.ng_class" ng-style="{'width':media.width+'px', 'height':media.height+'px'}">&nbsp;</div>
            <br>
            <div ng-style="{'width':media.width+'px'}">{{media.name}}<button ng-click="removeMedia(media.hashed_id)" type="button" style="float:right;">Delete</button></div>
        </div>
        <div ng-switch-default>
            <img src="../images/nothing.png" alt="Not A Video" style="width:264px; height:204px;">
            <br>
            <div ng-style="{'width':'264px'}">{{media.name}}<button ng-click="removeMedia(media.hashed_id)" type="button" style="float:right;">Delete</button></div>
        </div>
    </div>
    <br><br>
</div>